{% extends "base.html" %}
{% block content %}
<div class="column main-box">
    <div class='content-box-full'>
        <p><img src="{{ user.avatar.url }}" alt="Avatar" class="mini-profile" onerror="this.onerror=null;this.src='/static/img/default_avatar.png';">
            author: {{ post.author }}, created_at: {{ post.created_at}}</p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        {% if post.author == user %}
            <a href="{% url 'post_delete' pk=post.pk %}"><button class="custom-button">Delete</button></a>
            <a href="{% url 'post_edit' pk=post.pk %}"><button class="custom-button">Edit</button></a>
        {% endif %}
    </div>
    <div class="content-box ">
        {% if post.comment %}
            {% for comment in post.comment %}
            <div>
                {{ comment.author }}: {{ comment.created }} <br>
                <p>{{ comment.content }}</p>
                {% if comment.author == user %}
                    <a href="{% url 'comment_delete' pk=comment.pk %}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <p>No comments yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}