{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="column main-box">
    <div class='content-box'>
        <p style="margin-top: 0px;">
        {% if post.author.custom_user.avatar.url %}
            <img src="{{ post.author.custom_user.avatar.url }}" alt="Avatar" class="mini-profile">
        {% else %}
            <img src="{% static 'img/default_avatar.png' %}" alt="Avatar" class="mini-profile">
        {% endif %}
            {{ post.author.username }} {{ post.created_at }}<br>
        </p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        {% if post.author == user %}
            <a href="{% url 'post_delete' pk=post.pk %}"><button class="custom-button">Delete</button></a>
            <a href="{% url 'post_edit' pk=post.pk %}"><button class="custom-button">Edit</button></a>
        {% endif %}
    </div>
    <div class="content-box ">
        <form method="post" action="{% url 'post_detail' pk=post.pk %}">
            {% csrf_token %}
            <div>
                <label for="">comment</label>
                <input type="text" id="content" name="content">
            </div>
            <button type="submit" class="custom-button">post</button>
        </form>
    
        {% for comment in comments %}
        <div>
            <p>
                {% if comment.author.custom_user.avatar.url %}
                    <img src="{{ comment.author.custom_user.avatar.url }}" alt="Avatar" class="mini-profile">
                {% else %}
                    <img src="{% static 'img/default_avatar.png' %}" alt="Avatar" class="mini-profile">
                {% endif %}




                
            {{ comment.author }}: {{ comment.created_at }} 
            </p>
            <p>{{ comment.content }}</p>
            {% if comment.author == user %}
                <a href="{% url 'comment_delete' pk=post.pk comment_pk=comment.pk %}"><button class="custom-button">Delete</button></a>
            {% endif %}
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}

    </div>
</div>
{% endblock %}