{% extends "base.html" %}
{% block content %}
<div>
{{  chat_room.room_name }}
    <div>
        <h1>Chat Room: {{ chat_room.description }}</h1>
        <p>Created at: {{ chat_room.created_at }}</p>
    </div>
    <div>
        <h2>Messages</h2>
        {% for message in chat_room.messages.all %}
            <div class="message">
                {% if message.user %}
                    <strong>{{ message.user.username }}:</strong>
                {% else %}
                    <strong>Anonymous:</strong>
                {% endif %}
                <p>{{ message.content }}</p>
                <small>{{ message.created_at }}</small>
            </div>


</div>



{% endblock %}